.rgx-popover-class-overview {
  padding: 0 20px;
  margin-top: 10px;
}

.rgx-popover-class-header {
  color: var(--text-color-light);
  border-radius: 5px;
}

.rgx-popover-class-title {
  font-size: 2rem;
  color: var(--text-color-light);
  margin: 0;
}

.rgx-popover-class-title-light {
  color: var(--text-color-dark);
}

.rgx-popover-class-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-lighter);
}

.rgx-popover-class-description-light {
  color: var(--text-color-dark);
}

.rgx-popover-class-description strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}

.rgx-popover-class-section-title {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--text-color-light);
}

.rgx-popover-class-section-title-light {
  color: var(--text-color-dark);
}

.rgx-popover-class-section-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--text-color-lighter);
}

.rgx-popover-class-section-text-light {
  color: var(--text-color-dark);
}

.rgx-popover-class-section-text strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}
