.rgx-loader-overview {
  padding: 0 20px;
  margin-top: 10px;
}

.rgx-loader-header {
  color: var(--text-color-light);
  border-radius: 5px;
}

.rgx-loader-title {
  font-size: 2rem;
  color: var(--text-color-light);
  margin: 0;
}

.rgx-loader-title-light {
  color: var(--text-color-dark);
}

.rgx-loader-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-lighter);
}
.rgx-loader-description-light {
  color: var(--text-color-dark);
}

.rgx-loader-description strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}

.rgx-loader-section-title {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--text-color-light);
}

.rgx-loader-section-title-light {
  color: var(--text-color-dark);
}


.rgx-loader-section-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--text-color-lighter);
}

.rgx-loader-section-text-light {
  color: var(--text-color-dark);
}

.rgx-loader-section-text strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}

.rgx-loader-section-item {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 7px;
  color: var(--text-color-lighter);
}

.rgx-loader-section-item-light {
  color: var(--text-color-dark);
}

.rgx-loader-section-item strong {
  color: var(--text-color-lighter);
  text-decoration: underline;
}