.rgx-dark-light-mode-overview {
    padding: 0 20px;
    margin-top: 10px;
  }
  
  .rgx-dark-light-mode-header {
    color: #f6f8fa;
    border-radius: 5px;
  }
  
  .rgx-dark-light-mode-title {
    font-size: 2rem;
    color: #f6f8fa;
    margin: 0;
  }
  
  .rgx-dark-light-mode-description {
    font-size: 16px;
    line-height: 1.5;
    color: #c5c7d0;
  }
  
  .rgx-dark-light-mode-description strong a {
    font-size: 16px;
    line-height: 1.5;
    color: #037bff;
    text-decoration: underline;
  }
  
  .rgx-dark-light-mode-section-title {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #f6f8fa;
  }
  
  .rgx-dark-light-mode-section-text {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #c5c7d0;
  }
  .rgx-dark-light-mode-section-text strong a {
    font-size: 16px;
    line-height: 1.5;
    color: #037bff;
    text-decoration: underline;
  }
  
  .rgx-dark-light-mode-section-item {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 7px;
    color: #c5c7d0;
  }
  
  .rgx-dark-light-mode-section-item strong {
    color: #c5c7d0;
    text-decoration: underline;
  }