/* Tooltip container for elements with tooltips */
.rgx-theme .rgx-tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text container */
.rgx-theme .rgx-tooltip-text {
  visibility: hidden;
  width: fit-content;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: wrap;
  margin-bottom: 8px;
  font-size: 14px;
}

/* Tooltip arrow */
.rgx-theme .rgx-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

/* Show the tooltip on hover */
.rgx-theme .rgx-tooltip-container:hover .rgx-tooltip-text {
  visibility: visible;
  opacity: 1;
}
