.rgx-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  /* Ensure header stays fixed at the top */
  position: fixed;
  width: 98%;
  z-index: 10; /* Ensure it's above other elements */
}

.rgx-main-content {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust according to the height of your header */
}

.sidebar {
  position: fixed;
  top: 60px; /* Adjust according to the height of your header */
  left: 0;
  width: 250px; /* Sidebar width */
  bottom: 0;
  background-color: #f0f0f0; /* Sidebar background color */
  z-index: 9; /* Ensure it stays below the header */
  overflow-y: auto; /* Make sidebar content scrollable if necessary */
}

.rgx-page-content {
  margin-left: 250px; /* Adjust to the width of the sidebar */
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for page content */
}
