.rgx-app-route {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.rgx-app-route-main-content {
  display: flex;
  flex: 1;
  margin-top: 60px;
}

.rgx-app-route-page-content {
  margin-left: 220px;
  flex: 1;
  padding: 0 10px 15px 10px;
  overflow-y: auto;
}

.rgx-app-route-page-content-demo {
  margin-left: 270px;
  flex: 1;
  padding: 0 10px 15px 10px;
  overflow-y: auto;
}
