.rgx-faq-container {
  padding: 0 20px;
  margin-top: 10px;
}

.rgx-faq-header {
  color: var(--text-color-light);
  border-radius: 5px;
}

.rgx-faq-title {
  font-size: 2rem;
  color: var(--text-color-light);
  margin: 0;
}

.rgx-faq-title-light {
  color: var(--text-color-dark);
}

.rgx-faq-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-lighter);
}

.rgx-faq-description-light {
  color: var(--text-color-dark);
}

.rgx-faq-description strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}

.rgx-faq-section-title {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--text-color-light);
}

.rgx-faq-section-title-light {
  color: var(--text-color-dark);
}

.rgx-faq-usage-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--text-color-lighter);
}
.rgx-faq-usage-text-light {
  color: var(--text-color-dark);
}
.rgx-faq-list {
  margin-bottom: 25px;
}
