/* Loader Container Styling */
.rgx-theme .rgx-loader-container {
  position: absolute; /* Positioning the loader container absolutely */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Corrects the centering offset */
  text-align: center; /* Centers text inside the container */
  z-index: 9999; /* Ensures the loader appears on top of other elements */
  display: flex; /* Use flexbox for aligning child elements */
  align-items: center; /* Vertically align items in the center */
  background-color: #e2e2e2; /* Light gray background for the loader container */
  padding: 8px 10px; /* Padding around the loader and message */
  border-radius: 4px; /* Rounded corners for the loader container */
}

/* Styling for the Spinner */
.rgx-theme .rgx-spinner {
  border: 4px solid #ddd; /* Light gray border around the spinner */
  border-top: 4px solid #3498db; /* Blue top border for spinner, creating the spinner effect */
  border-radius: 50%; /* Make the spinner circular */
  width: 10px; /* Set the width of the spinner */
  height: 10px; /* Set the height of the spinner */
  animation: spin 2s linear infinite; /* Apply the spin animation indefinitely */
}

/* Loader Message Styling */
.rgx-theme .rgx-loader-message {
  font-size: 14px; /* Set the font size for the loader message */
  color: #333; /* Dark gray text color for the message */
  margin-left: 10px; /* Space between the spinner and the loader message */
}

/* Spinner Animation Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Initial position of the spinner */
  }
  100% {
    transform: rotate(
      360deg
    ); /* Final position of the spinner after one rotation */
  }
}
