.rgx-header {
  background-color: #101115;
  padding: 10px 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff34;
  position: fixed;
  width: 98%;
  z-index: 10;
  top: 34px;
}

.rgx-header-logo a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  text-transform: uppercase;
}
.rgx-header-logo a span {
  font-size: 11px;
}

.rgx-header-icons {
  display: flex;
  align-items: center;
}
.rgx-header-npm {
  margin-right: 15px;
}

.rgx-header-menu {
  display: flex;
  align-items: center;
}
.rgx-header-menu-items-ul {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  display: flex;
}
.rgx-header-menu-items-li {
  display: flex;
  margin-left: 15px;
}
.rgx-header-menu-items-li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  border-radius: 5px;
  transition: background 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.rgx-header-mode-button {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .rgx-header {
    flex-direction: column;
    text-align: center;
  }

  .rgx-header-nav ul {
    flex-direction: column;
  }

  .rgx-header-nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
