/* Styles the content of the popover in dark theme */
.rgx-theme .rgx-popover-content-dark {
  background-color: #1c1c1c !important;
  border: 1px solid #474747 !important;
}

/* Styles the popover arrow in dark theme */
.rgx-theme .rgx-popover-arrow-dark {
  background-color: #1c1c1c !important;
  border-left: 1px solid #474747 !important;
  border-top: 1px solid #474747 !important;
}
