/* rgx-arrow-pagination-dark.css */
/* Styles the pagination info text in dark theme */
.rgx-theme .rgx-arrow-pagination-info-dark {
  color: #fff !important;
}

/* Styles the 'Page of' label in dark theme */
.rgx-theme .rgx-arrow-pagination-page-of-dark {
  color: #fff !important;
}

/* Styles the 'Rows per page' label in dark theme */
.rgx-theme .rgx-arrow-pagination-rows-per-page-label-dark {
  color: #fff !important;
}

/* Styles the rows per page select dropdown */
.rgx-theme .rgx-arrow-pagination-rows-per-page-select-dark {
  border: 1px solid #474747 !important;
  background-color: #1c1c1c !important;
  color: #fff !important;
}

/* Styles the pagination buttons */
.rgx-theme .rgx-arrow-pagination-button-dark {
  border: 1px solid #474747 !important;
  background-color: #1c1c1c !important;
  color: #fff !important;
}

/* Styles the hover effect for pagination buttons */
.rgx-theme .rgx-arrow-pagination-button-dark:hover {
  background-color: #0e1215 !important;
}

/* Styles the disabled state of pagination buttons */
.rgx-theme .rgx-arrow-pagination-button-dark:disabled {
  background-color: #1c1c1c !important;
  border: 1px solid #474747 !important;
  color: #4c4c4c !important;
}


/* rgx-popover-dark.css */
/* Styles the content of the popover in dark theme */
.rgx-theme .rgx-popover-content-dark {
  background-color: #1c1c1c !important;
  border: 1px solid #474747 !important;
}

/* Styles the popover arrow in dark theme */
.rgx-theme .rgx-popover-arrow-dark {
  background-color: #1c1c1c !important;
  border-left: 1px solid #474747 !important;
  border-top: 1px solid #474747 !important;
}


/* rgx-table-pagination-dark.css */
/* Styles the pagination info text in dark theme for the table */
.rgx-theme .rgx-table-pagination-info-dark {
  color: #fff !important;
}

/* Styles the rows per page select dropdown for the table pagination */
.rgx-theme .rgx-table-pagination-rows-per-page-select-dark {
  border: 1px solid #474747 !important;
  background-color: #1c1c1c !important;
  color: #fff !important;
}

/* Styles the 'Rows per page' label in the table pagination */
.rgx-theme .rgx-table-pagination-rows-per-page-label-dark {
  color: #fff !important;
}

/* Styles the pagination buttons for the table */
.rgx-theme .rgx-table-pagination-button-dark {
  border: 1px solid #474747 !important;
  background-color: #1c1c1c !important;
  color: #fff !important;
}

/* Styles the hover effect for pagination buttons in the table */
.rgx-theme .rgx-table-pagination-button-dark:hover {
  background-color: #0e1215 !important;
}

/* Styles the disabled state of the ellipsis button in table pagination */
.rgx-theme .rgx-table-pagination-ellipsis-dark:disabled {
  background-color: #1c1c1c !important;
  border: 1px solid #474747 !important;
}

/* Styles the pagination button icon in the table */
.rgx-theme .rgx-table-pagination-button-icon-dark {
  border: 1px solid #474747 !important;
  background-color: #1c1c1c !important;
  color: #fff !important;
}

/* Styles the hover effect for pagination button icons in the table */
.rgx-theme .rgx-table-pagination-button-icon-dark:hover {
  background-color: #0e1215 !important;
}

/* Styles the disabled state of pagination button icons in the table */
.rgx-theme .rgx-table-pagination-button-icon-dark:disabled {
  background-color: #1c1c1c !important;
  border: 1px solid #474747 !important;
  color: #4c4c4c !important;
}

/* Styles the ellipsis button in table pagination */
.rgx-theme .rgx-table-pagination-ellipsis-dark {
  background-color: #1c1c1c !important;
}


/* rgx-theme-dark.css */
/* Styles the container of the table in dark theme */
.rgx-theme .rgx-table-container-dark {
  border: 1px solid #474747 !important;
}

/* Styles the table header cell and checkbox header in dark theme */
.rgx-theme .rgx-table-head-th-dark,
.rgx-theme .rgx-table-head-th-checkbox-dark {
  color: #fff !important;
}

/* Styles the table body cells and checkbox cells in dark theme */
.rgx-theme .rgx-table-body-td-dark,
.rgx-theme .rgx-table-body-td-checkbox-dark {
  border-top: 1px solid #474747 !important;
  border-bottom: 1px solid #474747 !important;
  color: #fff !important;
}

/* Styles even rows in the table body in dark theme */
.rgx-theme .rgx-table-body-tr-dark:nth-child(even) {
  background-color: #1c1c1c !important;
}

/* Styles odd rows in the table body in dark theme */
.rgx-theme .rgx-table-body-tr-dark:nth-child(odd) {
  background-color: #2f2f2f !important;
}

/* Styles the hover effect for table rows in dark theme */
.rgx-theme .rgx-table-body-tr-dark:hover {
  background-color: #1c1c1c !important;
}

/* Styles the table header in dark theme */
.rgx-theme .rgx-table-head-dark {
  background-color: #1c1c1c !important;
}

/* Styles the hover effect for table popup items in dark theme */
.rgx-theme .rgx-table-popup-items-dark:hover {
  background-color: #0e1215 !important;
}


