body.light-mode {
  background-color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--text-color-dark);
  transition: background-color 0.3s, color 0.3s;
}

.rgx-theme-toggle-button {
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.rgx-theme-toggle-button:hover {
  opacity: 0.8;
}

.rgx-theme-mode-light {
  color: var(--text-color-light);
  background-color: var(--text-color-dark);
}

.rgx-theme-mode-dark {
  color: var(--text-color-dark);
  background-color: var(--text-color-light);
}
