@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --text-color-light: #f6f8fa;
  --text-color-lighter: #c5c7d0;
  --text-color-dark: #101314;
  --text-color-blue: #037bff;
}

body {
  margin: 0;
  background-color: #0e1215;
  font-family: "DM Sans", sans-serif;
  /* font-family: "Alata", serif; */
}
