.rgx-installation-container {
  padding: 0 20px;
  margin-top: 10px;
}

.rgx-installation-header {
  color: var(--text-color-light);
  border-radius: 5px;
}

.rgx-installation-title {
  font-size: 2rem;
  color: var(--text-color-light);
  margin: 0;
}

.rgx-installation-title-light {
  color: var(--text-color-dark);
}

.rgx-installation-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-lighter);
}
.rgx-installation-description-light {
  color: var(--text-color-dark);
}

.rgx-installation-description strong a {
  font-size: 16px;
  line-height: 1.5;
  color: #037bff;
  text-decoration: underline;
}

.rgx-installation-section-title {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--text-color-light);
}

.rgx-installation-section-title-light {
  color: var(--text-color-dark);
}

.rgx-installation-usage-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--text-color-light);
}
.rgx-installation-usage-text-light{
  color: var(--text-color-dark);
}
.rgx-installation-usage-text strong a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-blue);
  text-decoration: underline;
}
