/* Sidebar styles */
.rgx-sidebar {
  width: 200px;
  background-color: #0e1215;
  color: white;
  padding: 15px;
  position: fixed;
  top: 87.5px; /* Position below the header */
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: width 0.3s ease;
  border-right: 1px solid #ffffff34;
  overflow-y: auto;
  max-height: calc(100vh - 58px);
}

.rgx-sidebar::-webkit-scrollbar {
  width: 4px;
}

.rgx-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.rgx-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.rgx-sidebar a {
  text-decoration: none;
  color: white;
  display: block;
}

/* List and links */
.rgx-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rgx-sidebar ul li {
  margin-bottom: 4px;
}

/* KeyLabel (Section Headers) */
.rgx-sidebar-keyLabel {
  font-size: 14px;
  font-weight: bold;
  color: #a0a0a0;
  padding: 10px 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff34;
  margin-bottom: 8px;
}

/* Sidebar menu items */
.rgx-sidebar-menu-items {
  padding-left: 0;
}

.rgx-sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 4px 0;
}

.rgx-sidebar-menu-button {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 10px;
  display: flex;
  border-radius: 5px;
  transition: background 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.rgx-sidebar ul li a:hover,
.rgx-sidebar-menu-button:hover {
  background-color: #444;
}

/* Active Link */
.rgx-sidebar ul li.rgx-sidebar-active > a {
  background-color: #555;
}

/* Submenu */
.rgx-sidebar-submenu {
  border-left: 1px solid rgba(255, 255, 255, 0.398);
  margin-top: 4px !important;
  padding-left: 10px;
}

.rgx-sidebar-submenu li {
  margin: 4px 0 !important;
}

/* Submenu Links */
.rgx-sidebar-submenu li a {
  font-size: 12px;
  padding: 5px;
  display: block;
  transition: background 0.3s ease;
  margin-left: 10px !important;
}

.rgx-sidebar-submenu li a:hover {
  background-color: #555;
}
